beautifulsoup4==4.11.2
bs4==0.0.1
certifi==2023.6.15
charset-normalizer==3.1.0
coverage==7.3.1
decorator==5.1.1
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.13
idna==3.4
imageio==2.22.4
imageio-ffmpeg==0.4.8
moviepy==1.0.3
numpy==2.2.2
packaging==23
Pillow==11
proglog==0
pyparsing==3
requests==2
soupsieve==2
toml==0
tqdm==4
urllib3==1
youtube-search==2
lxml==4
fuzzywuzzy==0
python-Levenshtein==0
tekore==5
flask==2
Werkzeug==2
git+https://github.com/abanand132/pytube.git@master#egg=pytube
